body {font-family: 'Montserrat', sans-serif;}

/* main styles  */
.main {
   display: flex;
   flex-direction: row-reverse;
   background-color: #F5F7FA, 100%;
   width: 1200px;
   margin: 0 auto;
}


.maincontent {
   background-color: #FFFFFF;
}
/* about styles */
.about {}


/* project syles */
.projects {
   
}


/* work styles  */
.work {
}

/* education styles*/

.education {
   ;}


/* sidebar styles  */

.sidebar {
  background-color: #1E2939; 
  padding-top: 40px;
  width: 370 px;
  
}

.photo {
   width: 370 px;
   margin-bottom: 50px;
}

.contacts, .tech-skills, .soft-skills {
   margin-left: 40px;
}
.contacts {
   margin-bottom: 50px;
}

.sidebar-title {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   margin-bottom: 10px;
}

.contact-type {
   color: #FFFFFF;
   font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
margin-right: 15px;
}
.contact-link {
   color: #575F6B;
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.tech-skills-list {
   color: #FFFFFF;
   padding: 0;
   margin-left: 20px;
}

.tech-skills-item {color: #FB6D3A;}

.tech-skills-text {
   color: #FFFFFF;
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}